@import "tailwindcss";

@theme {
  --color-background-primary: #f8f9fa;
  --color-background-secondary: #e9ecef;

  --color-text-primary: #212529;
  --color-text-secondary: #6c757d;

  --color-accent: #d98a2b;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background-primary);
  color: var(--color-text-primary);
}